.modal {
  display: none;
  position: fixed;
  z-index: 1050;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background: rgba(0, 0, 0, 0.4);
}

.modal.show {
  display: block;
}

body {
  background: #222;
}
.sidebar {
  min-width: 200px;
  max-width: 240px;
  background: #fcfcfc;
  height: 100vh;
  border-right: 1px solid #eee;
}
.sidebar .circle-avatar {
  width: 44px;
  height: 44px;
  border: 2px solid #210035;
  border-radius: 50%;
  margin: 22px auto 12px;
  display: block;
}
.sidebar .nav-link.active {
  color: #210035;
  font-weight: bold;
  background: none;
}
.main-header {
  height: 100px;
  border-bottom: 1px solid #eee;
  padding: 24px 32px 0 0;
}
.big-btn {
  background: #dadada;
  border-radius: 32px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 1.3rem;
  color: #111;
  margin-bottom: 32px;
  border: none;
  transition: background 0.2s;
}
.big-btn:hover {
  background: #cacaca;
  cursor: pointer;
  color: #210035;
}
.breadcrumb {
  font-size: 0.95rem;
  color: #210035;
}
